/* Start of Global */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-50: #eff6ff;
  --color-100: #dbeafe;
  --color-400: #60a5fa;
  --color-900: #1e3a8a;
  --color-dark: #1d2231;
  --text-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-100);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  opacity: 0.3;
}

body {
  color: var(--color-dark);
  font-family: Poppins, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px 4fr;
  height: 100vh;
}
/* End of Global */

/* Start of Sidebar */
.sidebar {
  display: grid;
  grid-template-rows: 50px repeat(auto-fit, minmax(200px, max-content));
  grid-area: 1 / 1 / 3 / 2;
  grid-gap: 2rem;
  background: var(--color-400);
  color: var(--color-100);
  padding: 1rem 1.5rem;
  z-index: 2;
}

.sidebar__logo {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
}

.sidebar__first-links,
.sidebar__second-links {
  height: max-content;
}

.sidebar__first-links li:not(:last-child),
.sidebar__second-links li:not(:last-child) {
  margin-bottom: 1rem;
}

.sidebar__first-links a,
.sidebar__second-links a {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  font-weight: bold;
}
/* End of Sidebar */

/* Start of Header */
.header {
  display: grid;
  background: white;
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem rgba(30, 58, 138, 0.2);
  z-index: 1;
}

/* Top Header */
.header__top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 100%;
  grid-gap: 1rem;
  align-items: center;
}

.search-bar input {
  width: 90%;
  border: 1px solid var(--color-400);
  border-radius: 9999px;
  padding: 0.5rem;
}

.info {
  display: grid;
  grid-template-columns: 75px 75px 1fr;
  align-items: center;
  justify-self: flex-end;
}

.info * {
  cursor: pointer;
}

.info__icon {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color-400);
  border-radius: 50%;
  width: 45px;
  padding-left: 0.2rem;
  overflow: hidden;
}

.info__icon img {
  max-width: 35px;
}

.info__notification {
  width: max-content;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.info__name {
  font-size: 1rem;
}

/* Bottom Header */
.header__bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.greeting {
  display: grid;
  grid-template-columns: 65px 2fr;
  grid-gap: 1rem;
  align-items: center;
}

.greeting__icon {
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color-400);
  border-radius: 50%;
  width: 55px;
  padding-left: 0.2rem;
  overflow: hidden;
}

.greeting__text p {
  font-size: 0.8rem;
}

.greeting__text h2 {
  font-size: 1.1rem;
  color: var(--color-dark);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.button {
  background: var(--color-400);
  color: var(--color-50);
  font-weight: bold;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
/* End of Header */

/* Start of Main */
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column: 2 / 3;
  grid-gap: 2rem;
  background: var(--color-50);
  height: 100%;
  padding: 2rem 1rem;
}

/* Projects */
.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-auto-rows: 200px;
  grid-gap: 1.5rem;
}

.project {
  display: grid;
  background: var(--text-white);
  padding: 1rem;
  border-radius: 0.5rem;
  border-left: 8px solid var(--color-400);
  box-shadow: 5px 5px 1rem rgba(30, 58, 138, 0.2);
}

.project__title {
  align-self: center;
}

.project__description {
  font-size: 0.8rem;
}

.project__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-self: end;
  align-self: flex-end;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Announcements */
.announcements {
  grid-column: 2 / 3;
  height: max-content;
}

.announcements__container {
  display: grid;
  grid-gap: 1rem;
  background: var(--text-white);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 1rem rgba(30, 58, 138, 0.2);
  padding: 1rem;
}

.announcement {
  padding: 0.5rem 0;
}

.announcement p {
  font-size: 0.8rem;
}

/* Trending */
.trending {
  grid-column: 2 / 3;
  height: max-content;
  margin-top: 2rem;
}

.trending__container {
  display: grid;
  grid-gap: 0.5rem;
  background: var(--text-white);
  box-shadow: 5px 5px 1rem rgba(30, 58, 138, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
}

.item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 0.5rem;
  align-items: center;
}

.item__image {
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color-400);
  border-radius: 100%;
  overflow: hidden;
}

.item__info a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.item__info p {
  font-size: 0.8rem;
}
/* End of Main */
